<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Registro de T&eacute;cnicos</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @*Tecnicos*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Tecnicos/Index">
                <span @*class="bi bi-plus-square-fill-nav-menu"*@ aria-hidden="true">
                    <i class="bi bi-database-fill-gear"></i>
                </span>T&eacute;cnicos
            </NavLink>
        </div>

        @*TipoTecnicos*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TipoTecnicos/Index">
                <span @*class="bi bi-plus-square-fill-nav-menu" *@ aria-hidden="true">
                    <i class="bi bi-file-earmark-person-fill"></i>
                </span>Tipos de T&eacute;cnicos
            </NavLink>
        </div>

        @*Clientes*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Clientes/Index">
                <span @*class="bi bi-plus-square-fill-nav-menu" *@ aria-hidden="true">
                    <i class="bi bi-people-fill"></i>
                </span>Clientes
            </NavLink>
        </div>

        @*Trabajos*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Trabajos/Index">
                <span @*class="bi bi-plus-square-fill-nav-menu" *@ aria-hidden="true">
                    <i class="bi bi-list-task"></i>
                </span>Trabajos
            </NavLink>
        </div>

        @*Prioridades*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Prioridades/Index">
                <span @*class="bi bi-plus-square-fill-nav-menu" *@ aria-hidden="true">
                    <i class="bi bi-calendar2-date-fill"></i>
                </span>Prioridades
            </NavLink>
        </div>
    </nav>
</div>

