@page "/Tecnicos/Delete/{TecnicoId:int}"

@inject TecnicoServices tecnicoService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Delete</PageTitle>
<div class="container">
	<div class="shadow">
		@*Header*@
		<div class="card-header">
			<h3><strong>Eliminar T&eacute;cnico</strong></h3>
		</div>

		@*Body*@
		<div class="card-body">
			<h4><strong>¿Est&aacute; seguro que desea Eliminar este T&eacute;cnico?</strong></h4>
			<ul>
				<li><strong>ID: </strong>@tecnico.TecnicoId</li>
				<li><strong>Nombre: </strong>@tecnico.Nombres</li>
				<li><strong>Sueldo Hora: RD$ </strong>@tecnico.SueldoHora</li>
			</ul>
		</div>

		@*Footer*@
		<div class="card-footer text-center">
			<button type="button" class="btn btn-primary bi bi-chevron-double-left" @onclick="Volver">  Volver   </button>
			<button type="button" class="btn btn-danger bi bi-trash3-fill" @onclick="Eliminar">   Eliminar   </button>
		</div>
	</div>
</div>

@code {
	[Inject]
	private IJSRuntime JSRuntime { get; set; }
	[Parameter]
	public int TecnicoId { get; set; }
	public Tecnicos tecnico { get; set; } = new Tecnicos();
	public string mensaje { get; set; } = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		tecnico = await tecnicoService.Buscar(TecnicoId);
	}

	public async Task Eliminar()
	{
		var eliminado = await tecnicoService.Eliminar(tecnico.TecnicoId);

		if (eliminado)
			await JSRuntime.InvokeVoidAsync("alert","Se ha eliminado el Tecnico correctamente!");
		else
			await JSRuntime.InvokeVoidAsync("alert", "Ha ocurrido un error al eliminar el Tecnico...");

		
		navigationManager.NavigateTo("/Tecnicos/Index");
	}

	public void Volver()
	{
		navigationManager.NavigateTo("/Tecnicos/Index");
	}
}
