@page "/Tecnicos/Index"
@page "/Tecnicos"
@inject TecnicoServices tecnicoServices
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntTime
@rendermode InteractiveServer

<div class="container">
     <div class="shadow-lg">
        @*Header*@
        <div class="card-header text-center">
            <h3><strong>Consulta de T&eacute;cnicos</strong></h3>
            <div class="text-end">
                <button type="button" class="btn btn-primary" @onclick="PantallaCrear"> Crear</button>
            </div>
        </div>
        @*Body*@
        <div class="card-body">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Sueldo Hora</th>
                        <th>Visualizar</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tecnico in ListaTecnico)
                    {
                        <tr>
                            <td>@tecnico.tecnicoId</td>
                            <td>@tecnico.nombre</td>
                            <td>RD$ @tecnico.sueldoHora</td>
                            @*Visualizacion*@
                            <td>
                                <button type="button" class="btn btn-outline-dark btn-outline-light bi bi-eye" style="background-color: #8a33ff"
                                        @onclick="()=> PantallaVisualizar(tecnico.tecnicoId)"></button>
                            </td>

                            @*Modificar*@
                            <td>
                                <button type="button" class="btn btn-outline-dark btn-outline-light bi bi-pencil" style="background-color: #ffc300"
                                        @onclick="()=> PantallaModificar(tecnico.tecnicoId)"></button>
                            </td>

                            @*Eliminar*@
                            <td>
                                <button type="button" class="btn btn-outline-dark btn-outline-light bi bi-trash" style="background-color: #ff3333"
                                @onclick="()=> PantallaEliminar(tecnico.tecnicoId)"></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @*Footer*@
        <div class="card-footer">
            <p><strong>Cantidad total de Tecnicos: </strong>@ListaTecnico.Count()</p>
        </div>
    </div>
</div>



@code {
    public List<Tecnico> ListaTecnico { get; set; } = new List<Tecnico>();

    protected override async Task OnInitializedAsync()
    {
        ListaTecnico = await tecnicoServices.Listar(c => c.tecnicoId > 0);
    }

    public void PantallaCrear()
    {
        navigationManager.NavigateTo("/Tecnicos/Create");
    }

    public void PantallaVisualizar(int id)
    {
        navigationManager.NavigateTo($"/Tecnicos/View/{id}");
    }

    public void PantallaModificar(int id)
    {
        navigationManager.NavigateTo($"/Tecnicos/Modify/{id}");
    }

    public void PantallaEliminar(int id)
    {
        navigationManager.NavigateTo($"/Tecnicos/Delete/{id}");
    }
}
