@page "/Clientes/View/{ClienteID:int}"

@inject ClientesService clientesService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>View</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		<div class="card-header">
			<h3><strong>Visualizaci&oacute;n del T&eacute;cnico actual</strong></h3>
		</div>
		<div class="card-body">
			<ul>
				<li><strong>ID: </strong> @Cliente.ClienteId</li>
				<li><strong>Nombre: </strong> @Cliente.Nombres</li>
				<li><strong>WhatsApp: </strong> @Cliente.WhatsApp</li>
			</ul>
		</div>
		<div class="card-footer text-center">
			<button type="button" class="btn btn-primary bi bi-chevron-double-left" @onclick="Volver">   Volver</button>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public int ClienteID { get; set; }
	public Clientes Cliente { get; set; } = new Clientes();

	protected override async Task OnInitializedAsync()
	{
		Cliente = await clientesService.Buscar(ClienteID);
	}

	public void Volver()
	{
		navigationManager.NavigateTo("/Clientes/Index");
	}
}
